.wrapper {
	height: 25vh;
	background-color: var(--beige);
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}