/* MOBILE */

.mobileWrapper {
	position: relative;
	width: 100%;
	height: 80vh;
}

.imageOverlay {
	top: 0;
	left: 0;
	height: 80vh;
	width: 100%;
	background-color: black;
	opacity: .2;
}

.heroImage {
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}

.heroTextWrapper {
	position: absolute;
	top: 25vh;
	left: 10%;
}

.heroText {
	color: white;
}

/* DESKTOP */

.desktopWrapper {
	display: flex;
	width: 100%;
	height: 60vh;
	padding: 0 0 0 10%;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (min-width: 640px) {
	.heroText {
		color: black;
	}

	.heroTextWrapperDesktop {}

	.heroImage {}
}